* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 60px;
}

.wrapper {
    background-color: black;
    width: 25vw;
    height: 80vh;
    color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.header h1 {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
}

.header h2 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
}

.header h3 {
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 2px;
}

.wrapper .img {
    width: 50px; 
    height: 50px;
    border-radius: 5px;
    object-fit: cover; 
}

.links {
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 15px;
    width: 20vw;
    height: 5vh;
}

/* IPHONE SE */

@media (max-width: 375px) {
    .wrapper {
        width: 80vw;
    }
    .links {
        width: 50vw;
    }
}

/* Samsung Galaxy S8 */


@media (max-width: 360px) {
    .wrapper {
        width: 75vw;
    }
    .links {
        width: 50vw;
    }

}

/* Ipad Mini */

@media (max-width: 768px) {
    .links {
        font-size: 25px;
    }
}

/* Ipad Pro */

@media (max-width: 1024px) {

    .header h1 {
        font-size: 40px;
    }

    .header h2 {
        font-size: 30px;
    }
    
    .header h3 {
        font-size: 20px;
    }
  
}

@media (max-width: 912px) {

    .header h1 {
        font-size: 40px;
    }

    .header h2 {
        font-size: 30px;
    }
    
    .header h3 {
        font-size: 20px;
    }
  
}